# Ignoriraj Visual Studio datoteke
.vs/
*.user
*.suo

# Ignoriraj build datoteke
bin/
obj/

# Ignoriraj migracijske datoteke (po potrebi)
Migrations/

# Ignoriraj konfiguracijske datoteke in začasne datoteke
*.log
*.tmp
*.db
